# ignore local data path config
data_path.config
ftp.config
tile.config
# ignore wandb logs
wandb/
sea-ice-classification/
# ignore pycharm folders
__pycache__/
.idea/
# ignore model checkpoint files
*.ckpt
# ignore testing notebook
handy.ipynb